@import "../../../../components/embed/tokens/index.css";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d6ce9;
  border-radius: 24px;
  padding: 16px;
  width: auto;
  height: auto;
}
