@import "../../../tokens/index.css";

.card {
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-card-background-default);
  width: var(--full-width);
  height: fit-content;
  padding: var(--spacing-8);
}

.card__shadow {
  box-shadow: 0 4px 40px 0 var(--color-card-shadow-default);
  transition: 0.3s;
}

.card__blury {
  filter: blur(var(--spacing-2));
}

.card__sm {
  width: var(--card-sm-width);
  min-height: var(--card-sm-height);
  font-size: var(--font-size-base);
}

.card__auto {
  min-height: auto;
  font-size: var(--font-size-base);
}

.card__md {
  min-height: var(--card-default-height);
  font-size: var(--font-size-base);
}

.card__header {
  justify-self: flex-start;
}

.card__footer {
  justify-self: flex-end;
}

.card__back__btn {
  left: 0.8rem;
  width: 2rem;
  height: 2rem;
  flex-direction: row;
  text-align: center;
  cursor: pointer;
  position: absolute;
  z-index: 9;
}

.card__close__btn {
  right: 0.8rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  cursor: pointer !important;
  position: absolute;
  z-index: 9;
}

.card__back__btn:hover {
  background-color: var(--brand-color-gray-200);
  border-radius: 50%;
}

.card__close__btn:hover {
  background-color: var(--brand-color-gray-200);
  border-radius: 50%;
}
