@import "../../../tokens/index.css";

.card {
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-card-background-default);
  width: 98%;
  height: fit-content;
  transition: all 0.4s ease-in-out;
  position: relative;
}

.card__shadow {
  box-shadow: 0 4px 40px 0 var(--color-card-shadow-default);
  transition: 0.3s;
}

.card__blury {
  filter: blur(var(--spacing-2));
}

.card__sm {
  width: var(--card-sm-width);
  min-height: var(--card-sm-height);
  font-size: var(--font-size-base);
}

.card__auto {
  min-height: auto;
  font-size: var(--font-size-base);
}

.card__md {
  min-height: var(--card-default-height);
  font-size: var(--font-size-base);
}

.card__header {
  justify-self: flex-start;
}

.card__footer {
  justify-self: flex-end;
}

.card__back__btn {
  left: 0.8rem;
  width: 2rem;
  height: 2rem;
  flex-direction: row;
  text-align: center;
  cursor: pointer;
  position: absolute;
  z-index: 9;
}

.card__close__btn {
  right: 0.8rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
  cursor: pointer !important;
  position: absolute;
  z-index: 9;
}

.card__back__btn:hover {
  background-color: var(--brand-color-gray-200);
  border-radius: 50%;
}

.card__close__btn:hover {
  background-color: var(--brand-color-gray-200);
  border-radius: 50%;
}

.card_minimized__active {
  height: var(--button-default-height);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-semi);
  font-family: var(--font-family-serif);
  width: var(--button-default-width);
  gap: var(--spacing-2);

  border-radius: var(--border-radius-lg);
  -webkit-transform: scale(0.5) translate(50px, 50px);
  transform: scale(0.5) translate(50px, 50px);
  opacity: 1;
  background-color: var(--color-background-button-primary);

  font-size: 0;
}

.card_minimized__active::after {
  color: var(--color-button-primary-active);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--button-default-height);
  width: var(--button-default-width);

  font-size: var(--font-size-base);
  font-weight: var(--font-weight-semi);
  font-family: var(--font-family-serif);
  gap: var(--spacing-2);
}
