VITE_IS_EMBEDDED_APP=1
VITE_TRANSAK_API_KEY=""
VITE_SUPABASE_URL=""
VITE_SUPABASE_ANON_KEY=""
VITE_DEV_DEFAULT_EMBEDDED_CLIENT_ID="ALPHA"
VITE_DEV_DEFAULT_EMBEDDED_SERVER_BASE_URL="http://localhost:3001"
VITE_PROD_DEFAULT_EMBEDDED_CLIENT_ID=""
VITE_PROD_EMBEDDED_SERVER_BASE_URL="https://embed-api-dev.wander.app/"
