# =============================================================================
#  Wander Browser Extension - Environment Variables
# =============================================================================

# Google Analytics 4
PLASMO_PUBLIC_GA_MEASUREMENT_ID=
PLASMO_PUBLIC_GA_API_SECRET=

# Transak
PLASMO_PUBLIC_TRANSAK_API_KEY=
PLASMO_PUBLIC_TRANSAK_TOP_TIER_API_KEY=
PLASMO_PUBLIC_TRANSAK_ENVIRONMENT=PRODUCTION

# FOR TESTING ARNS FLOWS WITH TESTNET
PLASMO_PUBLIC_ARIO_PROCESS_ID=

# =============================================================================
#  Wander Connect - Environment Variables
# =============================================================================

VITE_IS_EMBEDDED_APP=1

# Transak
VITE_TRANSAK_API_KEY=

# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Development
VITE_DEV_DEFAULT_EMBEDDED_CLIENT_ID="FREE_TRIAL"
VITE_DEV_DEFAULT_EMBEDDED_SERVER_BASE_URL="https://connect-api-dev.wander.app"

# Production
VITE_PROD_DEFAULT_EMBEDDED_CLIENT_ID="FREE_TRIAL"
VITE_PROD_EMBEDDED_SERVER_BASE_URL="https://connect-api.wander.app"

# Test
VITE_TEST_DEFAULT_EMBEDDED_CLIENT_ID="FREE_TRIAL"
VITE_TEST_DEFAULT_EMBEDDED_SERVER_BASE_URL="https://connect-api-dev.wander.app"

# Cloud - Google
VITE_GOOGLE_CLIENT_ID=

# Cloud - Apple CloudKit
VITE_APPLE_CONTAINER_IDENTIFIER=
VITE_APPLE_API_TOKEN=
VITE_APPLE_ENVIRONMENT=development