VITE_IS_EMBEDDED_APP=1
VITE_TRANSAK_API_KEY=""
VITE_DEV_DEFAULT_EMBEDDED_CLIENT_ID="FREE_TRIAL"
VITE_DEV_DEFAULT_EMBEDDED_SERVER_BASE_URL="http://localhost:3001"
VITE_PROD_DEFAULT_EMBEDDED_CLIENT_ID="FREE_TRIAL"
VITE_PROD_EMBEDDED_SERVER_BASE_URL="https://connect-api.wander.app"
VITE_TEST_DEFAULT_EMBEDDED_CLIENT_ID="test"
VITE_TEST_DEFAULT_EMBEDDED_SERVER_BASE_URL="https://test.com"

# DEVELOPMENT
VITE_SUPABASE_URL=""
VITE_SUPABASE_ANON_KEY=""

# PRODUCTION
# VITE_SUPABASE_URL=""
# VITE_SUPABASE_ANON_KEY=""
