.root {
  // Copied from TextInput .wrapper:
  border-radius: var(--input-border-radius);
  background: var(--input-background);
  overflow: hidden;
  border: var(--input-border);
  box-shadow: var(--input-shadow);
  width: 100%;

  // Copied from TextInput .input:
  color: var(--input-color);
  font-family: var(--font-family-serif);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);

  // Custom:
  word-break: break-word;
  word-spacing: 0.25em;
  line-height: var(--line-height-relaxed);
}

.secret {
  position: relative;
  min-height: var(--input-height);
  padding: 8px;
  transition: filter linear 150ms;
  filter: blur(5px);


  .isVisible > & {
    filter: none;
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  // padding: 8px;
  min-height: var(--input-height);
}

.loaderCover {
  position: absolute;
  inset: 0;
  transition: opacity linear 150ms;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;

  .isLoading & {
    opacity: 1;
    pointer-events: auto;
  }
}

