.dropdown-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  padding: 0.5rem 0.75rem;
  background-color: var(--color-background-default);
  border-radius: var(--input-border-radius);
  box-shadow: var(--shadow-blurred);
  border: 2px solid transparent;
  cursor: pointer;
}

.toggle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.button-open {
  border: rgb(147 197 253) 2px solid;
}
