.root {
  border-radius: 4px;
  border: 2px dotted rgba(255, 255, 255, 0.25);
  font-family: monospace !important;
  color: white;
  padding: 8px;

  &:disabled {
    opacity: 0.25;
    cursor: not-allowed;
  }

  &.primary {
    border: 2px solid transparent;
    background: white;
    color: black;

    &:not(:disabled):hover {
      background: yellow;
    }
  }

  &.secondary {
    border: 2px solid white;

    &:not(:disabled):hover {
      border: 2px solid yellow;
      color: yellow;
    }
  }

  &.dev {
    border: 2px solid lime;
    color: lime;

    &:not(:disabled):hover {
      border: 2px solid lime;
      color: lime;
    }
  }
}
