@import "../../../tokens/index.css";

.card {
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-card-background-default);
  height: fit-content;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  min-height: 100%;
  height: auto;
  font-size: var(--font-size-base);
}

.withExtraPadding {
  padding: 32px;
}

.banner {
  width: calc(100% + var(--spacing-6));
  margin: calc(-1 * var(--spacing-3)) calc(-1 * var(--spacing-3)) var(--spacing-3);
}

.withExtraPadding .banner {
  width: calc(100% + 64px);
  margin: -32px -32px var(--spacing-4);
}

.header {
  position: relative;
  width: 100%;
}

/* Make sure all elements respect border-box */
/* TODO: This should be in a global CSS reset */
.card *,
.card *::before,
.card *::after {
  box-sizing: inherit;
}

.card__disabled {
  pointer-events: none;
}

.card__footer {
  justify-self: flex-end;
}

.card__back__btn,
.card__close__btn {
  position: absolute;
  top: calc(-1 * var(--spacing-2));
  width: 40px;
  height: 40px;
  padding: var(--spacing-2);
  z-index: 9;
}

.card__back__btn {
  left: calc(-1 * var(--spacing-2));
}

.card__close__btn {
  right: calc(-1 * var(--spacing-2));
}

.withExtraPadding .card__back__btn {
  top: 0;
  left: 0;
}

.withExtraPadding .card__close__btn {
  top: 0;
}

.card__loaderCover {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(var(--spacing-2));
  transition: opacity linear 150ms;
  opacity: 0;
  z-index: 10;
  pointer-events: none;
}

.card__disabled > .card__loaderCover {
  opacity: 1;
  pointer-events: auto;
}
